<?xml version="1.0" ?>
<project name="configuration" xmlnds="http://tempuri.org/nant-vs.xsd">
    <!-- Include parent configuration file -->
    <include buildfile="../nant.config" />
    <!-- Set runtime version -->
    <property name="project.runtime.version" value="1.0" readonly="false" />
    <!-- Set runtime description -->
    <property name="project.runtime.description" value="Mono 1.0" readonly="false" />
</project>
