<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	.NET application configuration file
	
     This file must have the exact same name as your application with
     .config appended to it. For example if your application is testApp.exe
     then the config file must be testApp.exe.config it mut also be in the
     same directory as the application. 
-->
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<!-- This section contains the log4net configuration settings -->
	<log4net debug="false">
		<!-- Define some output appenders -->	
		<!-- Use the remoting appender -->
		<appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
			<!-- The remoting URL to the remoting server object -->
			<param name="Sink" value="tcp://localhost:8085/LoggingSink" />
			<!-- Send all events, do not discard events when the buffer is full -->
			<param name="Lossy" value="false" />
			<!-- The number of events to buffer before sending -->
			<param name="BufferSize" value="95" />
			<!-- Do not store event data that is slow to generate -->
			<param name="OnlyFixPartialEventData" value="true" />
			<!-- Specify an evaluator to send the events immediatly under
			     certain conditions, e.g. when an error event ocurrs -->
			<!-- <param name="Evaluator">
				<object type="log4net.spi.LevelEvaluator">
					<constructor>
						<param type="log4net.spi.Level" value="ERROR"/>
					</constructor>
				</object>
			</param> -->
		</appender>
		<!-- Setup the root category, add the appenders and set the default priority -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RemotingAppender" />
		</root>
	</log4net>
</configuration>
