version: 2.0.{build}
image: Visual Studio 2019
configuration: Release
platform: Any CPU
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  version_prefix: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
build_script:
- cmd: dotnet build netstandard\log4net.netstandard.sln --configuration Release
artifacts:
- path: log4net\bin\Release\log4net.NetStandard.*.nupkg
  name: log4net.NetStandard
deploy:
- provider: NuGet
  server: nuget.org
