<?xml version="1.0" ?>
<project name="sscli-configuration" xmlnds="http://tempuri.org/nant-vs.xsd">
    <!-- Include parent configuration file -->
    <include buildfile="../nant.config" />
    <!-- Set runtime configuration -->
    <property name="project.runtime.config" value="sscli" readonly="false" />
</project>
