<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<!-- This section contains the log4net configuration settings -->	
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c (%P{log4net:HostName}) [%x] - %m%n" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="log-file.txt" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="FILE HEADER\r\n" />
				<param name="Footer" value="FILE FOOTER\r\n" />
				<param name="ConversionPattern" value="%d [%t] %-5p %c (%P{log4net:HostName}) [%x] - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
	<system.runtime.remoting>
		<application name="Log4netRemotingServer">
			<!-- We need to define the remoting channels on which we will publish
           the remote logging sink. -->
			<channels>
				<channel displayName="Server Channel" ref="tcp server" port="8085" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
