<log4net>
  <appender name="LogFileAppenderXML" type="log4net.Appender.RollingFileAppender">			
    <file value="Logs\.xml" />
    <datePattern value="yyyy-MM-dd-'Xyz'" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />			
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="40" />
    <maximumFileSize value="1KB" />
    <preserveLogFileNameExtension value="true" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.XmlLayout"/>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="LogFileAppenderXML" />
  </root>
</log4net>    