<?xml version="1.0" ?>
<project name="configuration" xmlnds="http://tempuri.org/nant-vs.xsd">
    <!-- Include parent configuration file -->
    <include buildfile="../nant.config" />
    <!-- Set log4net base directory -->
    <property name="log4net.basedir" value="../../../../../" readonly="false" />
</project>
